<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hn.user.mapper.UserMapper">

    <select id="getUserById">
        select id,
               username,
               openid,
               nickname,
               headimgurl,
               password,
               phone,
               permissions,
               status,
               is_del,
               create_time,
               update_time
        from user
        where id = #{id}
          and is_del = 0
    </select>

    <select id="getUserByName">
        select id,
               username,
               openid,
               nickname,
               headimgurl,
               password,
               phone,
               permissions,
               status,
               is_del,
               create_time,
               update_time
        from user
        where username = #{username}
    </select>

    <select id="getUserByOpenid">
        select id,
               username,
               openid,
               nickname,
               headimgurl,
               phone,
               permissions,
               status,
               is_del,
               create_time,
               update_time
        from user
        where openid = #{openid}
          and is_del = 0
    </select>

    <select id="getUserPageList">
        select id,
        username,
        nickname,
        headimgurl,
        phone,
        permissions,
        status,
        create_time
        from user
        <where>
            <if test="username!=null">
                lower(username) like concat('%',lower(#{username}),'%')
            </if>
            <if test="nickname!=null">
                and lower(nickname) like concat('%',lower(#{nickname}),'%')
            </if>
            <if test="phone!=null">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
            <if test="startTime!=null and endTime!=null">
                and create_time>=#{startTime} and create_time &lt;=#{endTime}
            </if>
            and is_del = 0
        </where>
        <if test="sortField!=null and sortField=='createTime'">
            ORDER BY create_time
            <if test="sort!=null and sort=='DESC'">DESC</if>
        </if>
        limit #{limitRows}, #{pageSize}
    </select>

    <select id="userCount">
        select count(id)
        from user
        <where>
            <if test="username!=null">
                lower(username) like concat('%',lower(#{username}),'%')
            </if>
            <if test="nickname!=null">
                and lower(nickname) like concat('%',lower(#{nickname}),'%')
            </if>
            <if test="phone!=null">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
            <if test="startTime!=null and endTime!=null">
                and create_time>=#{startTime} and create_time &lt;=#{endTime}
            </if>
            and is_del = 0
        </where>
    </select>

    <insert id="userAdd" parameterType="com.hn.user.domain.entity.UserDo" useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        insert into user(username,
        password,
        <if test="openid!=null">
            openid,
        </if>
        nickname,
        headimgurl,
        phone,
        permissions)
        values (#{username}, #{password},
        <if test="openid!=null">
            #{openid},
        </if>
        #{nickname}, #{headimgurl}, #{phone}, #{permissions})
    </insert>

    <update id="userUpdate" parameterType="com.hn.user.domain.entity.UserDo">
        update user
        <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="nickname!=null">
                nickname=#{nickname},
            </if>
            <if test="headimgurl!=null">
                headimgurl=#{headimgurl},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="permissions!=null">
                permissions=#{permissions}
            </if>
        </set>
        where id = #{id}
        and is_del = 0
    </update>

    <update id="userUpdateStatus" parameterType="com.hn.user.domain.entity.UserDo">
        update user
        set status=#{status}
        where
        <if test="id!=null">
            id=#{id}
        </if>
        <if test="id==null">
            username = #{username}
        </if>
        and is_del=0
    </update>

    <!--    <delete id="userDelete" parameterType="com.user.userserver.entity.UserDo">-->
    <!--        delete from user-->
    <!--        where id = #{id}-->
    <!--           or username = #{username}-->
    <!--    </delete>-->

    <update id="userDelete" parameterType="com.hn.user.domain.entity.UserDo">
        update user
        set is_del=1
        where
        <if test="id!=null">
            id=#{id}
        </if>
        <if test="id==null">
            username = #{username}
        </if>
        and is_del=0
    </update>

</mapper>
