<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.user.userserver.mapper.UserMapper">

    <select id="getUserById">
        select id,
               username,
               password,
               phone,
               permissions,
               status,
               is_del,
               create_time,
               update_time
        from user
        where id = ${id}
          and is_del = 0
    </select>

    <select id="getUserPageList">
        select id,
               username,
               phone,
               permissions,
               status,
               create_time,
               update_time
        from user
        where is_del = 0
    </select>

    <insert id="userAdd" parameterType="com.user.userserver.entity.User" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into user(username,
                         password,
                         phone,
                         permissions)
        values (#{username}, #{password}, #{phone}, #{permissions})
    </insert>

    <update id="userUpdate" parameterType="com.user.userserver.entity.User">
        update user
        <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="permissions!=null">
                permissions=#{permissions}
            </if>
        </set>
        where id = #{id}
        and is_del = 0
    </update>

    <update id="userUpdateStatus" parameterType="com.user.userserver.entity.User">
        update user
        set status=#{status}
        where
        <if test="id!=null">
            id=#{id}
        </if>
        <if test="id==null">
            username = #{username}
        </if>
        and is_del=0
    </update>

    <!--    <delete id="userDelete" parameterType="com.user.userserver.entity.User">-->
    <!--        delete from user-->
    <!--        where id = #{id}-->
    <!--           or username = #{username}-->
    <!--    </delete>-->

    <update id="userDelete" parameterType="com.user.userserver.entity.User">
        update user
        set is_del=1
        where
        <if test="id!=null">
            id=#{id}
        </if>
        <if test="id==null">
            username = #{username}
        </if>
        and is_del=0
    </update>

</mapper>
